#col1 { /* Основное содержание */
    position: absolute; /* Абсолютное позиционирование */
    width: 190px; /* Ширина блока*/
    left: 0px; /* Координата от левого края окна */ 
    top: 0px; /* Координата от верхнего края окна */ 
    margin-left: -200px;
    margin-right: 200px;
    background: #800000; /* Цвет фона левой колонки */
    padding: 5px; /* Поля вокруг текста */ 
}
#col2{
    background: #e0e0e0; /* Цвет фона правой колонки */
    padding: 5px; /* Внутренние поля контента*/
}
body{
    padding: 0;
    margin: 0;
}
#top { /* Шапка с заголовком страницы */
    background: #e3e8cc; /* Цвет фона */
    border: solid 1px black; /* Параметры рамки  */
    padding: 10px 0 10px 10px; /* Поля вокруг текста */
    margin-bottom: 5px; /* Расстояние между шапкой и колонками */
    font-size: 24px; /* Размер шрифта */
    font-weight: bold; /* Жирное начертание */
}
#container { /* Меню сайта */
   border-left: 200px solid#800000;
}
#bottom { /* Подвал */
    background: #e3e8cc; /* Цвет фона */
    border: solid 1px black; /* Параметры рамки */
    padding: 3px; /* Поля вокруг текста */
}
